@import '../../common/';

.fl-container {
    width: 100%;
}

.fl-category-header {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 20px;
}

.fl-good-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(auto);
    font-size: 17px;
    color: white;
}

.fl-good-container:empty {
    display: none;
}