@import '../../common/';

.fi-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid $dark-border-color;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
    color: white;

    &.in-bucket {
        background-color: rgb(255, 255, 255, 0.3);
    }
}

.fi-header {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    span {
        display: block;
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    span,
    i {
        &:hover {
            cursor: pointer;
        }
    }
}