.list-category {
    >.list-header {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: white;
        padding: 5px 10px;
        margin: 15px 0 8px;
    }

    >.list-goods {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(50px, 50px);

        >.list-good-item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            border: 0.01px solid rgb(187, 187, 187);
            color: white;
            font-weight: 600;

            >.name {
                width: 100%;
                text-align: center;
                padding-right: 10px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    cursor: pointer;
                }
            }

            >.close {
                position: absolute;
                right: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                height: 100%;
                color: rgb(255, 96, 96);

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}