.listChoise-container {
    display: flex;
    margin: 20px 0;
    width: 100%;
}

.listChoise-item {
    height: 50px;
    width: 50%;
    border: 2px solid grey;

    >button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 23px;
        color: white;
        font-weight: 600;

        &:hover {
            cursor: pointer;
        }
    }

    &.active {
        background-color: rgb(255, 174, 68);
    }
}

.listChoise-item:last-child {
    border-left: none;
}