//colors
$dark-border-color: rgb(187, 187, 187);

$main-font: "SegoeUI","Roboto Condensed", sans-serif;

$breakpoint-xl: 1399px;
$breakpoint-lg: 1199px;
$breakpoint-md: 991px;
$breakpoint-sm: 767px;
$breakpoint-xs: 575px;
$breakpoint-xxs: 488px;
$breakpoint-min: 370px;